* {
    float: none;
    position: static;
}

header {
    background-color: #59BF25;
    color: white;
    text-align: center;
    font-size: 30px;
    width: auto;
    padding-top: 20px;
    padding-bottom: 15px;
    letter-spacing: 10px;
    margin: -10px -8px;

}

body {
    background-color: #ECEBE7;
}

h1 {
    font-size: 25px;
    text-align: center;
    margin-left: 3%;
    margin-right: 3%;
    padding: 40px;

    color: orange;
}

.random {
    width: auto;
    height: auto;
    text-align: center;
    background-color: white;
    display: inline-block;
    margin: 25px;
    padding: 10px;
    width: 297px;

}

.mypage {
    background-color: #FF7701;
    width: 297px;
    padding: 15px 10px;
    margin: 25px;
    font-size: 20px;
    border: solid 0px;
    text-align: center;
}


.logout {
    background-color: #59BF25;
    color: white;
    width: 297px;
    padding: 15px 10px;
    margin: 25px;
    font-size: 20px;
    border: solid 0px;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;