<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>むだろぐ</title>
    <link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="/static/css/01_toppage.css">

</head>

<body>
    <div class="title">
        <h1>むだろぐ式<br>ダイエット</h1>
    </div>
    <div class="main">むだろく式ダイエットとは日頃、本当にやめたいと思っている習慣を少しずつなくすサポートをするサービスです。むだな時間から卒業し有意義な時間にしませんか。
    </div>
    <div class="bubble">
        <img src="/static/img/TOP01.png" alt="吹き出し">



    </div>

    <div class="login">
        <p><button id="registration"><a href="/registry" class="registry">今すぐ登録</a></button></p>
        <p><button id="login"><a href="/login" class="login">ログイン</a></button></p>

    </div>


</body>

</html>