<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>むだろぐ</title>
    <link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="/static/css/03_statement.css">

</head>

<body>
    <header>決意表明</header>
    <main>
        <p class="comment">私、{{name}}は、<br>{{habit}}の誘惑には<br>もう負けません!!</p>

        <div class="button">
            <p class="login"><a href="/login" class="login">ログインへ</a></p>
        </div>

    </main>
</body>

</html>