<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>むだろぐ</title>
    <link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="/static/css/05_achivement.css">

</head>


<body>
    <header>成果受付完了</header>

    <main>
        <div class="image">
            <img src="/static/img/成果受付.png" alt="">
        </div>
        <div class="button">
            <p class="today"><a href="#">今日の格言</a></p>
            <p class="mypage"><a href="/main">ムダろぐへ</a></p>

        </div>
    </main>

</body>

</html>