<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>むだろぐ</title>
    <link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="/static/css/06_random.css">

</head>

<body>
    <header>今日の格言</header>
    <div>
        <h1>やらなくていいことをやらないための格言</h1>
    </div>
    <div class="img"></div>
    <div class="random">
        <p>{{proverb}}</p>
    </div>
    <div class="button">
        <p class="mypage"><a href="/main">MYむだろぐへ</a></p>
        <p class="logout"><a href="/logout" class="logout">ログアウト</a></p>
    </div>

</body>

</html>