<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>むだろぐ</title>
    <link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="/static/css/07_step.css">

</head>



<body>
    <header>STEP2</header>

    <div class="img">
        <img src="/static/img/変更完了.png" alt="">
    </div>
    <div class="box">
        <p>〇〇〇〇<br>をやらない</p>
    </div>
    <div>
        <h1>引き続き<br>頑張りましょう！！</h1>
    </div>
    <div>
        <p class="mypage"><a href="04_main.html">ムダろぐへ</a></p>
    </div>

</body>

</html>