<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>むだろぐ</title>
    <link rel="stylesheet" type="text/css" media="screen and ( max-width:812px )" href="/static/css/09_logout.css">
</head>

<body>
    <header>ログアウト</header>

    <main>
        <p class="comment">本日もおつかれさまでした！</p>
        <div class="image">
            <img src="/static/img/inu.png" alt="">
        </div>
        <div class="button">
            <p class="login"><a href="/login" class="login">ログインへ</a></p>
            <p class="toppage"><a href="/" class="toppage">トップページへ</a></p>

        </div>
    </main>

</body>

</html>